@model V_View.Models.Customer

@{
    ViewData["Title"] = "Finish";
}

<h4>Save:@Html.DisplayFor(mode => mode.FullName) Success</h4><!--สั่งให้แสดงผลข้อมูลที่กรอกไว้-->
<h4>Save:@Html.DisplayFor(mode => mode.Address) Success</h4>
